.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bodyall {
  width: 1000px;
  min-width: 1200px;
  text-align: center;
}
.calendar-main {
  /* 캘린더 안*/
  margin-top: 30px;
  margin-left: 10px;
  max-width: 700px;
  min-width: 700px;
  width: 100%;
  height: 600px;
  border-radius: 50px;
  padding: 20px;
  overflow: hidden;
}

.calendarbackboard {
  /*캘린더 백보드*/
  margin-top: 30px;
  margin-left: 100px;
  min-width: 760px;
  height: 740px;
  border-radius: 20px;
  background-color: white;
  float: left;
  overflow: auto;
  -ms-overflow-style: none; /*스크롤바 투명 */
}

.calendar-side-one {
  /* 캘린더 안*/
  margin-top: -20px;
  margin-left: 10px;
  max-width: 500px;
  min-width: 500px;
  width: 100%;
  height: 600px;
  border-radius: 50px;
  padding: 20px;
  overflow: hidden;
}

.calendar-side-two {
  /* 캘린더 안*/
  margin-top: -20px;
  margin-left: 10px;
  max-width: 500px;
  min-width: 500px;
  width: 100%;
  height: 600px;
  border-radius: 50px;
  padding: 20px;
  overflow: hidden;
}

.calendarbackboard-side-one {
  /*캘린더 백보드*/
  margin-top: 30px;
  margin-left: 50px;
  min-width: 360px;
  width: 600px;
  height: 430px;
  border-radius: 20px;
  background-color: white;
  float: left;
  overflow: scroll;
  -ms-overflow-style: none; /*스크롤바 투명 */
}
.calendarbackboard-side-two {
  /*캘린더 백보드*/
  margin-top: 30px;
  margin-left: 50px;
  min-width: 360px;
  width: 600px;
  height: 430px;
  border-radius: 20px;
  background-color: white;
  float: left;
  overflow: scroll;
  -ms-overflow-style: none; /*스크롤바 투명 */
}
.calendarbackboard {
  /*캘린더 백보드*/
  margin-top: 80px;
  margin-left: 60px;
  min-width: 760px;
  height: 740px;
  border-radius: 20px;
  background-color: white;
  float: left;
  overflow: auto;
  -ms-overflow-style: none; /*스크롤바 투명 */
}

::-webkit-scrollbar {
  display: none; /*스크롤바 투명 */
}

.boardbackboard {
  margin-left: 50px;
  margin-top: 200px;
  min-width: 400px;
  height: 700px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 50px;
  float: left;
  overflow: auto;
}

.inboard {
  width: 500px;
  height: 400px;
  background-color: #61dafb;
}

.inboardall {
  width: 500px;
  height: 300px;
  border: 3px solid #888585;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.inboarddiv {
  width: 500px;
  height: 300px;
  border: 3px solid #888585;
  margin-bottom: 20px;
  border-radius: 50px;
}

.Navbar {
  width: 100%;
  height: 5%;
  background-color: #20313d;
}

.nav-Left {
  width: 50%;
  height: 50%;
  float: left;
  color: #ffffff;
}

.nav-Right {
  width: 150px;
  height: 150px;
  float: left;
  border: 1px solid;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.Readboard {
  width: 700px;
  height: 700px;
  background-color: white;
}

.calendarColorBackBoard {
  width: 400px;
  height: 60px;
}

.calendarColorPurple {
  width: 15px;
  height: 15px;
  background-color: #a8a7fd;
}

.calendarColorBasic {
  width: 15px;
  height: 15px;
  background-color: #d1a77c;
}

.calendarColorPink {
  width: 15px;
  height: 15px;
  background-color: #f4a6d0;
}

.Add-Calendar {
  width: 700px;
  margin-top: 300px;
  margin-bottom: 100px;
}

.Add-Calendar-TitleBar {
  width: 300px;
  height: 30px;
  outline: none;
  border: 4px solid #61dafb;
}

.Add-Calendar-ContentsBar {
  width: 300px;
  height: 300px;
  outline: none;
  border: 4px solid #61dafb;
}

.front {
  width: 100%;
  height: 1000px;
  background-color: #61dafb;
}

.front-Category {
  width: 20%;
  height: 100%;
  background-color: #20313d;
  float: left;
}
.front-Category-Menu {
  margin-top: 100%;
  margin-left: 10%;
  width: 80%;
  height: 300px;
}

.menu-List {
  margin-top: 10px;
  margin-left: 100px;
  font-size: xx-large;
  color: #727272;
}

.front-Main {
  width: 80%;
  height: 100%;
  background-color: #a8a7fd;
  float: left;
  overflow: scroll;
}

.temp {
  margin-top: 500px;
  width: 100%;
  height: 300px;
}
.section-Info {
  width: 100%;
  height: 1200px;
  background-color: #20313d;
}
.section-Calendar {
  width: 100%;
  height: 1200px;
  background-color: #a8a7fd;
}

.section-Board {
  width: 100%;
  height: 1200px;
  background-color: #20313d;
}

.section-Ftp {
  width: 100%;
  height: 1200px;
  background-color: #61dafb;
}
